@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@media (prefers-color-scheme: dark) {
  @theme inline {
    --color-background: #0f172a;
    --color-foreground: #f1f5f9;

    --color-muted: #1e293b;
    --color-muted-foreground: #94a3b8;

    --color-border: #334155;
    --color-input: #334155;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
